.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.jar
build/
*/build/
local.properties
*.iml
.idea/caches/build_file_checksums.ser
.idea/modules.xml
.idea/workspace.xml
.idea/libraries/
.DS_Store
*.hprof
